.hero
  width: 100%
  min-height: 100vh
  
.wrapper
  max-width: 1024px
  margin: 0 auto
  
.list
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin: 100px 0
  align-items: flex-start
  &-caption
    text-align: center
    width: calc( 33% - 40px )
    margin: 0 20px
    list-style-type: none
    font-weight: bold
    color: #fff
    margin-bottom: 20px
  &-cell 
    width: calc( 33% - 40px )
    margin: 0 20px
    // min-height: 600px
    height: auto
    list-style-type: none
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, .2)
    background: #f0f2f5
    background: transparent
  &-card
    display: flex
    flex-wrap: wrap
    flex-direction: column
    text-align: center
    min-height: 180px
    cursor: pointer
    overflow: hidden
    background: #333
    margin: 10px 
    &__title
      font-weight: bold
      padding: 12px 20px
      background-color: #0747a6
      color: #fff
    &__info
      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: center
      flex-grow: 1
      padding: 12px 20px
      color: white
.add-task
  width: 100%
  outline: none
  border: none
  letter-spacing: normal
  padding: 20px
  transition: .2s
  font-family: Montserrat
  font-weight: 400
  cursor: pointer
  &:hover
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .2)

.green
  background: green

.red 
  background: tomato