@import "_form"
@import "_header"
@import "_main"

  
*::before, *::after
  box-sizing: border-box
  margin: 0
  padding: 0
* 
  box-sizing: border-box
body
  margin: 0
  padding: 0
  font-family: Montserrat
  font-size: 16px
  font-weight: 400
  line-height: normal
  background: url("../img/fon1.jpg")  center no-repeat
  overflow: hidden

 

.hide 
  display: none
.hovered
  background-color: #d1d8e2